select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.datepicker {
  margin-top: 10px;
  width: 100%;
}

.ui.menu {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.image-container {
  position: relative;
}

.image-container .arrow {
  cursor: pointer;
  position: absolute;
  top: 45%;
  background: hsla(0, 0%, 100%, 0.42);
  padding: 0.8em;
  border-radius: 5px;
}

.image-container .arrow.left {
  left: 10px;
}

.image-container .arrow.right {
  right: 10px;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.b-r {
  border-right: 1px solid rgba(34, 36, 38, 0.1);
}

[ng-click] {
  cursor: pointer;
}

/*===========================*/

.center.field {
  text-align: center;
}

/*===========================*/

.scanner.segment {
  padding: 0;
}

.scanner.segment .wrapper {
  overflow: auto;
}

.scanner.segment .status {
  text-align: center;
}

.scanner.segment .table {
  border: none;
}

.scanner.segment .table td {
  white-space: nowrap;
}

.scanner.segment .settings {
  border-top: thin solid #ddd;
  margin-top: 0;
}

/*===========================*/

.webcam.segment {
  padding: 0;
}

/*===========================*/

.server.segment .submit.field {
  text-align: center;
}

/*==================================
ANIMATIONS
==================================*/

.slide {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide.down {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  max-height: 1000px;
  overflow: hidden;
}
