
select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.datepicker {
    margin-top: 10px;
    width: 100%;
}

.ui.menu {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
}

.image-container {
    position: relative;
}

.image-container .arrow {
    cursor: pointer;
    position: absolute;
    top: 45%;
    background: hsla(0, 0%, 100%, 0.42);
    padding: 0.8em;
    border-radius: 5px;
}

.image-container .arrow.left {
    left: 10px;
}

.image-container .arrow.right {
    right: 10px;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.b-r {
    border-right: 1px solid rgba(34,36,38,.1);
}

.scanner.segment {
    padding: 0;
}

.scanner.segment .status{
    text-align: center;
}

.scanner.segment .table {
    border: none;
}